@model IEnumerable<ApplicationRoleListViewModel>
@using Blog.Models
@using Blog.ViewModels
@using Blog.Configuration


<div class="widthcontrol">
    <div class="top-buffer"></div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-head">Application Roles</div>
        <div class="panel-body">
            <div class="btn-group">
                <a id="createRoleModal" data-toggle="modal" asp-controller="ApplicationRole" asp-action="AddEditApplicationRole" data-target="#modal-action-application-role" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add Role
                </a>
            </div>
            <div class="top-buffer"></div>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Users</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RoleName</td>
                            <td>@item.Description</td>
                            <td>@item.NumberOfUsers</td>
                            <td>
                                <a id="addEditApplicationRoleModal"
                                   data-toggle="modal"
                                   asp-controller="ApplicationRole"
                                   asp-action="AddEditApplicationRole"
                                   asp-route-id="@item.Id"
                                   data-target="#modal-action-application-role"
                                   class="btn btn-info">
                                    Edit
                                </a>
                                @if (item.NumberOfUsers == 0)
                                {
                                    <a id="deleteApplicationRoleModal"
                                       data-toggle="modal"
                                       asp-controller="ApplicationRole"
                                       asp-action="DeleteApplicationRole"
                                       asp-route-id="@item.Id"
                                       data-target="#modal-action-application-role"
                                       class="btn btn-danger">
                                        Delete
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div role="dialog" tabindex="-1" id="modal-action-application-role" class="modal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/application-role-index.js" asp-append-version="true"></script>
}   