@model Post

@{

}
<div class="widthcontrol">
    <h2>@Model.Title</h2>

    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var image_path = $"/Image/{Model.Image}";
        <img src="@image_path" width="400" />
    }
    <p>@Html.Raw(Model.Body)</p>

    @if (User.Identity.IsAuthenticated)
    {
    <div>        
        <h5> Comments </h5>
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentID = 0 });
            }
        <div class="commentsection">
            @foreach (var c in Model.MainComments)
            {
                <p>
                    @c.Message ---- @c.Created by @c.UserName
                </p>
                <div class="comment-responses">
                    <span class="comment-responses-text"> Reponses </span>

                    @foreach (var sc in c.SubComments)
                    {
                        <p>
                            @sc.Message ---- @sc.Created by @c.UserName
                        </p>
                    }

                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentID = c.Id });
                    }
                </div>
            }
        </div>
    </div>
    }
</div>